<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042149263206-dvq5lbtor2ejgq3duqhvtti5lr47itck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042149263206-dvq5lbtor2ejgq3duqhvtti5lr47itck</string>
	<key>API_KEY</key>
	<string>AIzaSyDWkjNqkorsJ9h7Syi5ABAG3A-6B9Nf0Rw</string>
	<key>GCM_SENDER_ID</key>
	<string>1042149263206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pastilalala</string>
	<key>PROJECT_ID</key>
	<string>pastilalala-4e50b</string>
	<key>STORAGE_BUCKET</key>
	<string>pastilalala-4e50b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042149263206:ios:03808861679065eb28eaa7</string>
	<key>DATABASE_URL</key>
	<string>https://pastilalala-4e50b-default-rtdb.firebaseio.com</string>
</dict>
</plist>